# FXServer Network
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# Server Info
sv_hostname "Grand RP by Sumit_Yadav"
sets sv_projectName "Grand RP Custom"
sets sv_projectDesc "CM-Core Framework - Built by Sumit_Yadav"
sets tags "rp, custom, cm-core"
sets locale "en-US"
sv_maxclients 48

# Game Build
sv_enforceGameBuild 3258

# License Key
sv_licenseKey "pytlmnwwzgdbs14503yc2f62nupy3m2m"

# Steam API
set steam_webApiKey "none"

# MySQL Database
set mysql_connection_string "mysql://root@localhost/grandrp?charset=utf8mb4"
set cm_environment "development"

# System Chat
set resources_useSystemChat true

# Admin Setup
add_ace group.admin command allow
add_ace group.admin command.quit deny
add_principal identifier.fivem:1494046 group.admin
add_ace group.clothingadmin cm.clothing.admin allow

add_principal identifier.fivem:1494046 group.clothingadmin

# REQUIRED CFX Resources
ensure sessionmanager
ensure hardcap

# LIBRARIES FIRST
ensure ox_lib
ensure ox_target
ensure bcrypt
ensure oxmysql
ensure bob74_ipl

# OPTIONAL / UTILITY
# Rename folder from screenshot-basic-master to screenshot-basic if possible
ensure screenshot-basic

# CM CORE FIRST
ensure cm-core

# LOGIN / PLAYER LOAD
ensure cm-auth
ensure cm-commands
ensure cm-characters
ensure cm-playerdata
ensure cm-admin
ensure cm-spawn

# ITEMS / INVENTORY
ensure cm-items
ensure cm-inventory
ensure cm-itemactions

# UI / HUD
ensure cm-hud

# STORES / CLOTHING

#ensure cm-clothstore
#ensure cm-clothingadmin
ensure nv_cloth
ensure cm-gunstore

# VEHICLES
ensure vStudios_PacificBluffsDealership_Ultimate
ensure showcasecars
ensure showcasecars2
ensure cm-vehiclekeys
ensure cm-vehicles
#ensure cm-vehiclestore
ensure rn-vehicleshop
ensure cm-parking